<div class="container mt-4 contenedor-animes">
  <p class="mb-4 h5">
    Rating promedio global: 
    <span class="badge text-bg-primary rounded-pill">
      {{ getGlobalAverageRating() }}
    </span>
  </p>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let anime of animes">
      <div class="card h-100">
        <img [src]="anime.img" class="card-img-top" alt="Anime image">
        
        <div class="card-body">
          <h5 class="card-title">{{ anime.name }}</h5>
          <p class="card-text">
            ⭐ <b>Promedio:</b> {{ getAverageRating(anime) }}
          </p>
          <p class="card-text">
            <b>Categoría:</b> {{ anime.categorie }}
          </p>
          <p class="card-text">
            <b># Temporadas:</b> {{ getSeasonsCount(anime) }}
          </p>
        </div>

        <div class="card-footer text-center">
          <a [routerLink]="['/anime', anime.id]" class="btn btn-primary btn-sm">
            More Information
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
