<div class="container mt-4">
  <div class="row">

    <div class="col-md-8">
      <h2 class="mb-3">{{ animeDetail.name }}</h2>

      <dl>
        <dt class="fw-bold">Descripción</dt>
        <dd>{{ animeDetail.description }}</dd>
        <hr />
        
        <dt class="fw-bold">⭐ Rating promedio</dt>
        <dd>{{ getAverageRating(animeDetail) }}</dd>
        <hr />
        
        <dt class="fw-bold">Estudio</dt>
        <dd>{{ animeDetail.studio }}</dd>
        <hr />
        
        <dt class="fw-bold">Total de episodios</dt>
        <dd>{{ animeDetail.total_episodes }}</dd>
        <hr />
      </dl>

      <button class="btn btn-secondary" (click)="goBack()">Volver</button>
    </div>

    <div class="col-md-4">
      <img
        class="img-fluid rounded shadow"
        [src]="animeDetail.img"
        [alt]="animeDetail.name"
      />
    </div>
  </div>
</div>